{% extends "tasks/main.html" %}
{% load static %}
{% block content %}	
	<div class="logout">
		<span> Hello {{ user.username }}!</span>
		<a href="{% url 'logoutuser' %}" class="btn btn-primary">Logout</a>
	</div>
	<form method="POST" action="{% url 'list' %}">
		{% csrf_token %}
		{{form.title}}
		<input class="btn btn-primary" type="submit" value="Create Task">
	</form>
	{% for task in tasks %}
		<div class="item-row">
			<a class="btn btn-primary btn-sm" href="{% url 'update_task' task.id %}">Update</a>
			<a class="btn btn-warning btn-sm" href="{% url 'delete' task.id %}">Delete</a>				
			{% if task.complete == True %}
			<strike>{{task}}</strike>
			{% else %}
			<span>{{task}}</span>
			{% endif %}
		</div>
	{% endfor %}
{% endblock %}
